@if(Visible)
{
    <div class="loading-overlay">
        <div class="card shadow-lg border-0 p-4 text-center loading-card">
            <div class="spinner-border text-primary mb-3 align-self-center" role="status" style="width: 4rem; height: 4rem;"/>
            <h5 class="mb-1">Carregando</h5>
            <p class="text-muted mb-0">Aguarde um momento...</p>
        </div>
    </div>
}
@code
{
    [Parameter]
    public bool Visible { get; set; }
}
