@page "/apps"
@page "/apps/{AppId:guid}"
@attribute [Authorize]

<AppsList />
@if (AppId.HasValue)
{
    <div class="mt-2">
        <AppDisplay AppId="AppId.Value" />
    </div>
}

@code {
    [Parameter]
    public Guid? AppId { get; set; }
}