@inject NavigationManager nav
@inject IHttpContextAccessor HttpContextAccessor

<form method="post" action="/auth/logout">
    <button type="submit" class="btn btn-outline-danger btn-sm rounded-pill px-3">Deslogar</button>
</form>